@media (max-width: 1500px) {

     /* Container */
     .container {
        max-width: 1194px;
    }

    /* Intro */
    .intro__nft-items {
        display: none;
    }

    .intro__main-text {
        transform: scale(0.8);
    }




    /* Get started */
    .get-started__title {
        font-size: 36px;
    }

    .get-started__text_2 {
        padding-left: 30px;
    }

    .nft-card-slim__title {
        font-size: 12px;
    }

    /* Triple */

    .triple__title {
        font-size: 24px;
        line-height: 30px;
    }
}



@media (max-width: 1200px) {
    /* Header */
    .nav__list {
        display: none;
    }

    .burger__container {
        display: block;
        margin-right: 15px;
    }

    .top-bar__right {
        margin-right: 0;
    }

    .btn {
        height: 44px;
    }
}

@media (max-width: 991px) {
    /* Header */
    header {
        height: 70px;
    }

    .top-bar__logo {
        margin-left: 15px;
    }

    .nav__list {
        display: none;
    }

    .top-bar__right-btns {
        display: none;
    }

     /* Intro */
     .intro__main-text {
        transform: scale(0.6);
    }

    .intro__text-1 {
        margin-right: 0;
    }

    .intro__search {
        transform: scale(0.8);
        font-size: 20px;
    }

    .intro__partner {
        padding: 0 25px;
    }
}

@media (max-width: 767px) {
    /* header */
    .logo__name {
        display: none;
    }

    /* Intro */
    .intro__main-text {
        transform: scale(0.55);
    }

    .intro__search {
        transform: scale(0.6);
    }

    .intro__partner {
        padding: 0 5px;
    }

    .intro__text-2 {
        margin-right: 0;
    }
}

@media (max-width: 480px) {
    .intro__main-text {
        transform: scale(0.38);
    }

    .intro__search {
        transform: scale(0.4);
        font-size: 25px;

        ::placeholder {
            font-size: 20px;
        }
    }

    .intro__partner {
        padding: 0;

        img {
            height: 25px;
            width: 65px;
        }
    }
}

@media (max-width: 320px) {
    .intro__main-text {
        transform: scale(0.3);
    }
}