@import "vars";
@import "vendor/reset.scss";


body {
    background-color: #060714;
    font-size: 16px;
    color: $white;
    font-family: $fontSora;

    margin: 0 auto;

    overflow-x: hidden;
}

body.light {
    background-color: $white;
    color: black;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1422px;
    margin: 0 auto;
    padding: 0 15px;
}

//blocks
@import "blocks/mode.scss";
@import "blocks/nft-icon.scss";
@import "blocks/header.scss";
@import "blocks/buttons.scss";
@import "blocks/intro.scss";
@import "blocks/latest-auct.scss";
@import "blocks/nft-card.scss";
@import "blocks/get-started.scss";
@import "blocks/triple.scss";
@import "blocks/popular.scss";
@import "blocks/counters.scss";
@import "blocks/folder.scss";
@import "blocks/row.scss";
@import "blocks/footer.scss";
@import "blocks/media.scss";

