@import "vars";
@import "vendor/reset.scss";


body {
    background-color: #060714;
    font-size: 16px;
    color: $white;
    font-family: $fontSora;
    max-width: 1920px;

    margin: 0 auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1392px;
    margin: 0 auto;
}

//blocks
@import "blocks/nft__icon.scss";
@import "blocks/header.scss";
@import "blocks/buttons.scss";
@import "blocks/intro.scss";
@import "blocks/latest-auct.scss";
@import "blocks/nft-card.scss";
@import "blocks/get-started.scss";
@import "media";

