.latest-auct__inner {
    display: flex;
    width: 100%;
    height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 65px 0;
}

.latest-auct__title {
    font-size: 36px;
    font-weight: 600;
    line-height: 45.36px;

    margin-bottom: 72px;
}

.latest-auct__items {
    display: flex;
    width: 100%;
    height: auto;
}

.latest-auct__item {
    max-width: 448px;
    height: auto;

    display: flex;
    flex-direction: column;
    padding: 24px;

    margin-right: 24px;

    border: 1px solid #262840;
    border-radius: 20px
}

.latest-auct__item:last-child {
    margin-right: 0;
}

.latest-auct__info {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin-bottom: 24px;
}

.latest-auct__text {
    display: none;
}


.swiper-latest-auct {
    width: 100%;
    height: auto;

    .swiper-wrapper {
        height: max-content;
    }

    .swiper-button-next {
        display: flex;
        position: relative;

        justify-content: center;
        align-items: center;

        width: 120px;
        height: 120px;
        border-radius: 50%;
        top: -52%;
        left: 84.5%;
        z-index: 10;

        background: rgba(38, 40, 64, 0.8);
        box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
        backdrop-filter: blur(7px);

        cursor: pointer;
    }

}

