@media (max-width: 1500px) {
     /* Container */
     .container {
        max-width: 1194px;
    }

    /* Intro */
    .intro__main-text {
        transform: scale(0.8);
    }

    .intro__nft-items {
        .nft {
            transform: scale(0.8);
        }

        .intro__nft-1 {
            right: 15%;
            top: 22%;
        }

        .intro__nft-2 {
            right: 3%;
            top: 38%;
        }


        .intro__nft-3 {
            right: 10%;
            top: 52%;
        }

        .intro__nft-4 {
            left: 7%;
            top: 35%;
        }

        .intro__nft-5 {
            left: 13%;
            top: 17.6%;
        }

        .intro__nft-6 {
            left: 16%;
            top: 53%;
        }
    }

    /* Latest auctions */
    .latest-auct__title {
        margin-bottom: 50px;
        text-align: center;
    }

    .latest-auct {
        .nft-card__title {
            font-size: 14px;
            font-weight: 400;
        }

        .nft-card__text {
            display: none;
        }

        .latest-auct__text {
            margin-top: 15px;
            display: flex;
            align-self: center;
        }

    }

    /* Get started */
    .get-started__inner {
        padding: 0 25px;
    }

    .get-started__title {
        font-size: 36px;
    }

    .get-started__text_2 {
        padding-left: 30px;
    }

    .nft-card-slim__title {
        font-size: 12px;
    }

    /* Triple */
    .triple__item {
        height: 741px;
        padding: 30px;

        .nft-card-slim__title{
            font-weight: 400;
        }

        .triple__description {
            padding: 30px;
        }
    }

    .triple__title {
        font-size: 24px;
        line-height: 30px;
    }

    .triple__icon {
        width: 60px;
        height: 60px;

        margin-top: 2%;
    }


    /* Item.html */
    .item {
        margin-top: 80px;
    }
    .item__inner {
        transform: scale(0.9);
    }

    .item__left {

        .item__price {
            display: flex;
        }
    }

    .item__right {
        padding: 0 0 0 40px;

        .item__name {
            font-size: 30px;
        }

        .item__descript {
            margin-bottom: 20px;
        }


        .item__info {
            margin-bottom: 20px;
        }

        .item__price {
            margin-bottom: 20px;
            padding: 25px;
        }

        .item__price-inner {
            margin-bottom: 20px;
        }

        .item__price-left {
            .price__value {
                font-size: 35px;
                line-height: 100%;
                letter-spacing: 0.2px;
            }
        }

        .item__graph {

            .graph__img {
                margin-bottom: 0px;
            }

        }
    }
}

@media (max-width: 1200px) {
    /* Header */
    .header {
        height: 70px;
    }

    .top-bar__logo {
        margin-left: 15px;
    }

    .nav__list {
        display: none;
    }

    .burger__container {
        display: block;
        margin-right: 15px;
    }

    .top-bar__right {
        margin-right: 0;
    }

    .btn {
        height: 44px;
    }

    .top-bar__nav {
        display: block;
        position: absolute;

        right: 0;
        top: -590%;
        width: 100%;

        height: auto;

        background: rgba(255, 255, 255, 0.95);
        border-radius: 0 0 20px 20px;

        border-right: 0;
        border-top: 0;

        transition: all 0.2s ease;
        z-index: -1;
        padding-top: 70px;

        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
            width: 100%;
            padding: 20px 0;

            .nav__elem {
                padding: 15px 20px 15px 15px;
                font-size: 18px;
            }
        }

        .btn_transparent {
            border: #7780A1 2px solid;
        }
    }

    .top-bar__nav::before {
        content: '';
        color: rgb(0, 0, 0);
        position: fixed;
        z-index: 2;
        width: 100%;
        top: 0;
        right: 0;
        height: 70px;
        background-color: $primary;
    }

    body.light {
        .top-bar__nav {
            background: rgba(0, 0, 0, 0.9);
        }
        .top-bar__nav::before{
            background-color: white;
        }
    }

    .top-bar__nav._active {
        top: 0;
    }

    /* Intro # 1*/

    .intro__main-text {
        transform: scale(0.7);
    }

     /* Get-Started # 1*/

    .get-started__img {
        max-width: 484px;
    }

     /* Triple #1 */

    .triple__elem {
        flex-direction: column;
        max-height: 160px;

        .triple__icon {
            margin-bottom: 15px;
            width: 80px;
            height: 80px;
        }
    }

    .triple__elem:last-child {
        display: none;
    }

    .triple__nft-bidding_mb_s {
        display: none;
    }

    /* Popular */

    .popular__items {
        flex-wrap: wrap;
        padding: 0 50px;

        .popular__item {
            width: 33.33333%;
            margin-bottom: 24px;

            .nft-card-slim__title {
                font-size: 16px;
                font-weight: 400;
            }
        }
    }

    /* Folder */
    .folder__inner {
        padding-left: 60px;
        padding-right: 60px;
    }

    .folder__left {
        width: 100%;

    }

    .folder__right {
        display: none;
    }

    /* Footer */
    %footer-shared {
        padding: 30px;
    }

    .footer__text {
        font-size: 14px;
    }

    .footer__left {
        .footer__links {
            flex-direction: column;
        }

    }
}

@media (max-width: 991px) {
    /* Header */
    .header {
        height: 70px;
        position: fixed;
    }

    .top-bar__right-btns {
        display: none;
    }

    .top-bar__logo {
        margin-left: 15px;
    }

    .top-bar__nav {
        .nav__list {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding: 0;
            width: 100%;
            padding: 20px 0;

            .nav__elem {
                padding: 15px 20px 15px 15px;
                font-size: 18px;
            }

            .top-bar__right-btns {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                padding: 15px 20px 15px 15px;

                .btn {
                    width: 125px;
                }
            }
        }
    }

    .burger__container {
        display: block;
        width: auto;
        padding: 0;
        margin-right: 15px;
        border-radius: 7px;
        border: 0;

        .burger {
            margin-right: 0;
        }
    }

    .btn-mode {
        width: 25px;
        height: 25px;
    }

     /* Intro */
     .intro__main-text {
        transform: scale(0.6);
    }

    .intro__text-1 {
        margin-right: 0;
    }

    .intro__search {
        transform: scale(0.8);
        font-size: 20px;
    }

    .intro__partner {
        padding: 0 25px;
    }

    .intro__nft-items {
        display: none;
    }

    .intro__nft-block {
        display: flex;
        margin-top: 3%;
        gap: 20px;

        .nft {
            .nft__image {
                width: 60px;
                height: auto;
            }

            .nft__price {
                font-size: 10px;
            }
        }
    }

    /* Latest auctions */
    .latest-auct__item {

        .latest-auct__info {
            flex-direction: column;
            align-items: center;
            text-align: center;
        }

        .nft-card__title {
            width: 100%;
            margin-bottom: 10px;
        }

        .nft-card__time {
            justify-content: center;
            align-items: center;
        }

        .nft-card__reviews {
            flex-direction: column;
        }

        .nft-card__avatars {
            margin-right: 0;
            margin-bottom: 10px;
        }
    }

    /* Get-Started # 1*/

    .get-started__img {
        max-width: 384px;
    }

    /* Triple */
    .triple__inner {
        padding: 50px;
        flex-wrap: wrap;

        justify-content: space-between;

        .triple__title {
            font-size: 18px;
            line-height: 22px;
        }

        .triple__item {
            width: 48%;
            margin-bottom: 24px;
        }

        .triple__item:nth-child(2) {
            margin-right: 0;
        }

        .triple__item:nth-child(3) {
            width: 100%;
        }

        .triple__hand-img {
            top: -6%;
        }

        .triple__elem:last-child {
            display: flex;
        }

        .triple__elem {
            flex-direction: row;
            max-height: 120px;
            align-items: center;

            .nft-card-slim__title {
                font-size: 16px;
            }

            .triple__icon {
                width: 120px;
                height: 120px;
                margin-right: 24px;
                margin-top: 0;
            }

            .triple__nft-bidding_mb_s {
                display: flex;
            }
        }

    }

    /* Popular */
    .popular__items {
        .popular__item {
            width: 33.33333%;
            margin-bottom: 24px;

            .nft-card-slim__title {
                font-size: 14px;
            }
        }
    }

    /* Counters */
    .counters__inner {
        flex-wrap: wrap;
    }
    .counters__item {
        width: 50%;
        margin-bottom: 50px;
    }

    .counters__item:nth-child(3),.counters__item:nth-child(4) {
        margin-bottom: 0;
    }

    /* Folder */
    .folder {
        margin-bottom: 70px;
    }


    /* Footer */
    .footer__inner {
        flex-direction: column;
        padding: 20px 40px;
        margin-bottom: 70px;

        %footer-shared {
            width: 100%;
            padding: 20px 0;
            border-right: 0;
        }

        .footer__left {
            border-bottom: 1px #262840 solid;

            .footer__logo,
            .footer__text,
            .footer__links  {
                margin-bottom: 24px;
            }

            .footer__links {
                max-width: 320px;
                flex-direction: row;
            }


        }

        .footer__center {
            border-bottom: 1px #262840 solid;

            .nav__list,
            .btn {
                margin-bottom: 24px;
            }

        }

        .footer__right {
            .footer__text {
                margin-bottom: 24px;
            }

            form {
                max-width: 500px;
            }

        }

    }

    body.light {
        .footer__inner {
            .footer__right {
                border: 0;
            }
            .footer__left, .footer__center {
                border-right: 0;
                border-bottom: 1px solid $grey;
            }
        }
    }


    /* Item.html */
    .item {
        margin-top: 127px;
    }
    .item__inner {
        transform: scale(1);
    }

    .item__graph {
        display: none;
    }

    .item__left {
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        margin-right: 20px;

        .item__img {
            margin-bottom: 10px;
        }

        .item__graph {
            display: flex;
            flex-direction: column;


            .graph__img {
                margin-bottom: 10px;
            }
        }
    }

    .item__right {
        padding: 0;
        align-items: center;
        justify-content: space-between;

        .item__name {
            font-size: 40px;
        }

        .item__info {
            flex-direction: column;

            .info__inner._1 {
                margin-bottom: 15px;
            }
        }

        .item__price {
            justify-self: flex-end;
            margin: 0;
        }

        .item__price-inner {
            flex-direction: column;
        }

        .item__price-left {

            .price__value {

                font-weight: 600;
                font-size: 32px;


                span {
                    font-size: 16px;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    /* header */
    header .logo__name {
        font-size: 16px;
    }

    /* Intro */
    .intro__main-text {
        transform: scale(0.55);
    }

    .intro__search {
        transform: scale(0.6);
    }

    .intro__partner {
        padding: 0 5px;
    }

    .intro__text-2 {
        margin-right: 0;
    }


    /* Latest auctions */
    .latest-auct__items {
        flex-wrap: wrap;
        justify-content: center;
    }

    .latest-auct__item {
        width: 100%;
        align-items: center;
        margin-right: 0;
        margin-bottom: 24px;
    }

    /* Get-Started #1 */
    .get-started__title {
        font-size: 28px;
    }

    .get-started__img {
        display: none;
    }

    .get-started__text {
        width: 100%;
        align-items: center;
        text-align: center;

        padding: 20px 0;

        .get-started__img_disp_none {
            display: block;
            margin-bottom: 50px;

            max-width: 384px;
            width: 100%;
            height: auto;
        }

        .get-started__btns {
            gap: 40px;
        }

    }

    /* Triple */

    .triple__inner {
        .triple__item {
            width: 100%;
            margin-right: 0;
            margin-bottom: 60px;
        }

        .triple__item_backg_grad {
            justify-items: center;
        }

        .triple__hand-img {
            max-width: 360px;
            top:35%;
            left:50%;
            transform:translate(-50%, -50%);
        }

        .triple__item:last-child {
            margin-bottom: 0;
        }

        .btn {
            width: 100%;
        }

        .triple__description {
            width: 100%;
        }
    }

    /* Get-Started #2 */
    .get-started__elem {
        align-items: center;
        margin-right: 40px;
    }

    .get-started__elem:last-child {
        margin-right: 0;
    }

    .get-started__name {
        margin-bottom: 10px;
    }

    .popular__items {
        .popular__item {
            width: 50%;

            .nft-card-slim__title {
                font-size: 16px;
            }
        }
    }

    /* item.html */

    .item__right {

        .item__name {
            font-size: 24px;
        }
    }

}

@media (max-width: 600px) {

    .triple__inner {
        .triple__item {
            .nft-card-slim__title {
                font-size: 12px;
            }
        }

        .triple__elem{
            .triple__icon {
                width: 80px;
                height: 80px;
            }

            .nft-card-slim__bidding {
                display: none;
            }
        }
    }

    /* Popular */

    .popular__items {
        .popular__item {
            width: 100%;
            margin-bottom: 50px;
        }

        .popular__item:last-child {
            margin-bottom: 0;
        }
    }


    /* item.html */

    .item {
        max-height: none;
        margin-top: 80px;
    }

    .item__inner {
        flex-direction: column;
        text-align: center;
        padding: 30px;

        .item__left {
            width: 100%;

            .item__img {
                margin-bottom: 30px;
            }

            .item__graph {
                display: none;
            }
        }

        .item__right {
            width: 100%;

            .item__info {
                flex-direction: row;
                width: 100%;
                justify-content: center;
                gap: 50px;

                margin-bottom: 30px;

                .info__inner._1 {
                    margin-right: 0;
                }
            }


            .item__price {
                padding: 20px;
                margin-bottom: 30px;

                .item__price-inner {
                    flex-direction: row;
                    justify-content: initial;

                    .item__price-right {
                        width: 50%;
                    }
                }
            }

            .item__graph {
                display: flex;
                flex-direction: column;
                width: 100%;


                .graph__img {
                    margin: 0;
                }
            }

        }
    }
}

@media (max-width: 480px) {
    /* Intro # 1*/
    .intro__main-text {
        transform: scale(0.4);
        font-weight: 600;
    }

    .into__overtitle {
        position: absolute;
        top: 27%;
    }

    .intro__undertitle {
        position: absolute;
        bottom: 45%;
    }

    .intro__search {
        transform: scale(0.5);
        font-size: 25px;

        ::placeholder {
            font-size: 22px;
        }
    }

    .intro__partner {
        padding: 0;

        img {
            height: 35px;
            width: 75px;
        }
    }

    .intro__nft-block {
        gap: 10px;
        .nft {
            .nft__image {
                width: 45px;
                height: auto;
            }

            .nft__price {
                font-size: 8px;
            }
        }
    }

    /* Latest auct */

    .latest-auct__inner {
        padding: 50px 0px;
    }

    .latest-auct__title {
        font-size: 30px;
        line-height: 125%;
    }


    /* Get-Started #1 */
    .get-started__text {
        padding: 0;

        .get-started__title {
            font-size: 30px;
            line-height: 125%;
        }

        .get-started__btns {
            gap: 16px;
            flex-direction: column;
        }
    }

    /* Triple */
    .triple__inner {
        padding: 50px 0;

        .triple__item {
            text-align: center;

            .triple__title {
                margin-bottom: 24px;
            }


            .nft-card-slim__bidding {
                margin-bottom: 24px;
            }
        }

        .triple__elem{
            flex-direction: column;
            max-height: 160px;

            .triple__icon {
                align-self: flex-start;
                width: 70px;
                height: 70px;
                margin-right: 10px;
            }

            .nft-card-slim__title {
                text-align: left;
            }
        }

        .triple__hand-img {
            max-width: 300px;
        }

        .triple__elem:last-child {
            display: none;
        }
    }

    /* Popular */
    .popular__inner {
        padding: 50px 0;
    }

    .popular__title {
        font-size: 30px;
    }

    .popular__buttons {
        margin-bottom: 30px;
    }

    .popular__items {
        padding: 30px;
        margin-bottom: 25px;
    }

    /* Counters */
    .counters__inner {
        padding: 70px 0;
    }
    .counters__value {
        font-size: 24px;
    }

    /* Folder */
    .folder {
        margin-bottom: 30px;
    }

    .folder__inner {
        padding-left: 20px;
        padding-right: 20px;
    }

    .folder__title {
        font-size: 22px;
    }

    /* Row */

    .row {
        margin-bottom: 40px;
    }

    .nft__image {
        width: 70px;
        height: auto;
    }

    /* Footer */

    .footer__inner {
        margin-bottom: 25px;
    }

    /* item.html */
    .item__inner {
        .item__right {

            .item__info {
                flex-direction: column;
                justify-content: space-between;
                gap: 10px;

            }
            .item__price {
                .item__price-inner {
                    .price__value {
                        font-size: 16px;
                    }
                    .time__value {
                        font-size: 16px;
                    }
                }
            }
        }
    }
}

@media (max-width: 330px) {
    .intro__main-text {
        transform: scale(0.3);
    }

    .intro__search {
        transform: scale(0.4);
        font-size: 25px;

        ::placeholder {
            font-size: 20px;
        }
    }

    .intro__partner {
        padding: 0;

        img {
            height: 25px;
            width: 65px;
        }
    }

    .intro__nft-block {
        gap: 5px;

    }


    .item__inner .item__right .item__price .item__price-inner {
        flex-direction: column;
        align-items: center;
        gap: 30px

    }
}