.nft {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    .nft__image {
        display: block;
        margin-bottom: 8px;
        border-radius: 20px;

        text-decoration: none;

        transition: box-shadow 0.1s linear;
    }

    .nft__price {
        font-family: $fontInter;
        font-weight: 400;
        font-size: 14px;
        color: $grey;
        line-height: 150%;
    }
}



body._pc {
    .nft__image:hover {
        transform: scale(1.05);
        box-shadow: 0px 10px 20px 0px rgba(209, 209, 209, 0.2);
    }
}