.row {
    margin-bottom: 71px;
    overflow: hidden;

    .swiper-wrapper {
        -webkit-transition-timing-function:linear!important;
        -o-transition-timing-function:linear!important;
        transition-timing-function:linear!important;
    }
}

.row__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    overflow: hidden;


    .swiper {
        width: 100%;
        height: 100%;
    }

    .nft {
        padding: 8px;
    }
}
