.row {
    margin-bottom: 71px;
    overflow: hidden;
}

.row__inner {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 0;

    overflow: hidden;
}

.row__inner {
    .nft {
        padding: 8px;
    }
}