.triple__inner {
    display: flex;
    width: 100%;
    height: auto;

    padding: 150px 0;
    position: relative;

}

.triple__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 33.3333%;
    height: 841px;

    align-self: flex-end;

    border: 1px solid #262840;
    border-radius: 20px;

    padding: 40px;

    margin-right: 24px;
}

.triple__item-1 {
    overflow: hidden;
}

.triple__item_backg_grad {
    background: url(../images/triple/background.png) center no-repeat;
    background-size: 100% 100%;

    border-radius: 0 20px 20px 20px;
    border: 0;

    position: relative;
}

.triple__item:last-child {
    margin-right: 0;
}

.triple__title {
    font-family: $fontSora;
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: 0.2px;
}

.triple__title_size_s {
    font-size: 24px;
    line-height: 125%;

    margin-bottom: 8px;
}

.triple__content {
    display: flex;
    width: 120%;
}

.triple__nft-card-slim {
    max-width: 212px;
}

.border-left, .border-right {
    display: block;
    height: 40px;
    width: 40px;
    position: absolute;
    bottom: 0;
}

.border-left {
    border-bottom: 1px solid #262840;
    border-left: 1px solid #262840;
    left: 0;
    border-radius: 0 0 0 20px;
}

.border-right {
    border-bottom: 1px solid #262840;
    border-right: 1px solid #262840;
    right: 0;
    border-radius: 0 0 20px 0;
}

.triple__hand-img {
    display: block;
    padding: 0 10px;
    max-width: 448px;
    width: 100%;
    height: auto;

    position: absolute;
    left: 0;
    top: -4%;
}

.triple__subtitle {
    font-family: $fontInter;
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: $grey;

    margin-bottom: 38px;
}

.triple__description {
    display: flex;
    flex-direction: column;

    padding: 40px;

    position: absolute;
    bottom: 2px;
    left: 0;
}


.triple__list {
    display: flex;
    flex-direction: column;


    justify-content: space-between;
}

.triple__elem {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 120px;
    max-width: none;
    margin-bottom: 16px;


    a {
        margin-right: 10px;
    }
}

.triple_elem-data {
    display: flex;
    flex-direction: column;
    width: 100%;
}


.triple__icon {
    display: block;
    margin-right: 16px;
    max-width: 120px;
    width: 100%;
    height: auto;

    border-radius: 20px;

    transition: transform 0.1s linear;
}

body._pc {

    .triple__icon:hover {
        transform: scale(1.1);
    }

}

.triple__nft-data_item_3 {
    padding: 8px 0;
    border-bottom: 0;

}

.triple__nft-bidding_mb_s {
    margin-bottom: 0px;
}


.triple__item_mobile {
    display: none;
}

.circles {
    display: flex;
    position: absolute;
    left: 14px;
    top: 12px;
    gap: 8px;

    span {
        width: 9px;
        height: 9px;
        background-color: $grey;
        opacity: 0.5;
        border-radius: 50%;
    }
}

.swiper-triple {
    width: 100%;
    height: 100%;

    .swiper-slide-next {
        opacity: 0.3;
    }

    .swiper-button-next {
        display: flex;
        position: relative;

        justify-content: center;
        align-items: center;

        width: 80px;
        height: 80px;
        border-radius: 50%;
        top: -79%;
        left: 67%;
        z-index: 10;

        background: rgba(38, 40, 64, 0.8);
        box-shadow: 0px 25px 75px rgba(6, 7, 20, 0.1);
        backdrop-filter: blur(7px);

        cursor: pointer;
    }
}
