@media (max-width: 1500px) {
  /* Container */
    .container {
        max-width: 1200px;
    }
  /* Intro */
    .intro__inner {
        padding-top: 78px;
    }

    .intro__search {
        margin-bottom: 78px;
    }
}