<div class="modal" id="modal-contact">
    <div class="modal__inner">
        <button class="modal__close">
            <img class="modal__img svg" src="assets/images/modal/close.svg" alt="close">
        </button>

        <form class="form" action="/" method="post">
            <div class="form__group">
                <input class="form__control" type="text" placeholder="Name">
            </div>

            <div class="form__group">
                <input class="form__control" type="email" placeholder="E-mail">
            </div>

            <div class="form__group">
                <textarea class="form__control  form__control_textarea" placeholder="Text"></textarea>
            </div>

            <div class="form__footer">
                <div class="form__group">
                    <button class="btn  btn_blue" type="submit">Submit</button>
                </div>
            </div>
        </form>
    </div>
</div>