<footer>
    <div class="container">
        <div class="footer__inner">

            <div class="footer__left">
                <a class ="logo footer__logo" href="#">
                    <img src="assets/images/logo.svg" alt="logo">
                    <p class="logo__name">NFT Market</p>
                </a>

                <p class="footer__text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur dolor rerum facere magni ea hic quos, eligendi, adipisci magnam blanditiis aliquid doloribus enim, molestiae error.</p>

                <div class="footer__links">
                    <a href="#">Support</a>
                    <a href="#">Team of service</a>
                    <a href="#">License</a>
                </div>
            </div>

            <div class="footer__center">
                <nav class="footer__nav  nav">
                    <ul class="nav__list">
                        <li class="nav__elem">
                            <a data-goto=".auctions" class="nav__link" href="#">Auctions</a>
                        </li>
                        <li class="nav__elem">
                            <a data-goto=".roadmap" class="nav__link" href="#">Roadmap</a>
                        </li>
                        <li class="nav__elem">
                            <a data-goto=".discover" class="nav__link" href="#">Discover</a>
                        </li>
                        <li class="nav__elem">
                            <a data-goto=".community" class="nav__link" href="#">Community</a>
                        </li>
                    </ul>
                </nav>

                <button class="btn btn_blue" type="button" data-modal="modal-login">My Account</button>

                <div class="footer__social">
                    <a href="#">
                        <img src="assets/images/footer/Vector-1.svg" alt="">
                    </a>
                    <a href="#">
                        <img src="assets/images/footer/Vector-2.svg" alt="">
                    </a>
                    <a href="">
                        <img src="assets/images/footer/Vector-3.svg" alt="">
                    </a>
                    <a href="">
                        <img src="assets/images/footer/Vector-4.svg" alt="">
                    </a>
                    <a href="">
                        <img src="assets/images/footer/Vector-5.svg" alt="">
                    </a>
                </div>
            </div>

            <div class="footer__right">
                <p class="footer__text">Nibh volutpat, aliquam id sagittis elementum. Pellentesque laoreet velit, sed egestas in. Id nam semper dolor tellus vulputate eget turpis.</p>

                <form class="footer__form" action="">
                    <input type="text" placeholder="Newsletter">
                    <button>Sign In</button>
                </form>

            </div>
        </div>
    </div>
</footer>
