<header>
    <div class="top-bar">
        <img class ="logo" src="" alt="">
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__elem">Auctions</li>
                <li class="nav__elem">Roadmap</li>
                <li class="nav__elem">Discover</li>
                <li class="nav__elem">Community</li>
            </ul>
        </nav>
        <div class="nav__buttons">
            <a href="">Contact</a>
            <a href="">My Account</a>
        </div>

    </div>
</header>
