<header class="header">
    <div class="top-bar">
        <a class ="logo top-bar__logo" href="index.html">
            <img src="assets/images/logo.svg" alt="logo">
            <p class="logo__name">NFT Market</p>
        </a>
        <nav class="nav top-bar__nav">
            <ul class="nav__list">
                <li class="nav__elem">
                    <a data-goto=".auctions" class="nav__link" href="#">Auctions</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".roadmap" class="nav__link" href="#">Roadmap</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".discover" class="nav__link" href="#">Discover</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".community" class="nav__link" href="#">Community</a>
                </li>

                <div class="top-bar__right-btns two-btns">

                    <button class="btn btn_transparent btn_size_s" type="button" data-modal="modal-contact">Contact</button>

                    <button class="btn btn_blue" type="button" data-modal="modal-login">My Account</button>

                </div>
            </ul>

        </nav>

        <div class="top-bar__right">

            <div class="btn-mode"></div>

            <div class="top-bar__right-btns two-btns">

                <button class="btn btn_transparent btn_size_s" type="button" data-modal="modal-contact">Contact</button>

                <button class="btn btn_blue" type="button" data-modal="modal-login">My Account</button>

            </div>

            <div class="burger__container">
                <div class="burger">
                    <span></span>
                </div>
            </div>



        </div>
    </div>


</header>
