<header>
    <div class="top-bar">
        <a class ="logo top-bar__logo" href="#">
            <img src="assets/images/logo.svg" alt="logo">
            <p class="logo__name">NFT Market</p>
        </a>
        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__elem">
                    <a data-goto=".auctions" class="nav__link" href="#">Auctions</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".roadmap" class="nav__link" href="#">Roadmap</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".discover" class="nav__link" href="#">Discover</a>
                </li>
                <li class="nav__elem">
                    <a data-goto=".community" class="nav__link" href="#">Community</a>
                </li>
            </ul>
        </nav>
        <div class="top-bar__right-btns two-btns">
            <a class="btn btn_transparent btn_size_s" href="">Contact</a>
            <a class="btn btn_blue" href="">My Account</a>
        </div>

    </div>
</header>
